/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [No]
      ,[Name]
      ,[Age]
      ,[Gender]
      ,[Address]
      ,[ClassNo]
  FROM [HospitalDCH].[dbo].[Doctor]